<mat-nav-list>
    <!--<div >
        <img src="./assets/logo.png" alt="Company Logo"/>
    </div>-->  
    <br>
    <mat-divider></mat-divider>
    <h2 mat-subheader class="mt-2">CONTENT</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item>
        <mat-icon>laptop_windows</mat-icon>Projects
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>Experience
    </a>   
</mat-nav-list>