.page_content{
   
  min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 20px;
}

.page_content-data{
    
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.page_box{
    min-height: 90px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 30px;
    color: white;
  padding: 0 1rem;
}
.elements{
  float: right;
  margin-top: -[x]px;
}
.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
#emp-header{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#search-area{
  font-size: 22px;
  font-weight: bold;
}